# Anything in the whole repo
* @axgonz @armsgit

# Anything in the axgonz directory and subdirectories
/folder1/ @axgonz

# Anything in the armsgit directory and subdirectories
/folder2/ @armsgit